<h1>Hello from index Page</h1>

<h3> Add a new Customer: </h3>

<form method="POST" action="/user">
    <label>First name:</label> <input type="text" name="first_name"><br>
    <label>Last name:</label> <input type="text" name="last_name""><br>
    <label>Email:  </label> <input type=" text" name="email"><br>
    <input type="submit" value="Submit">
</form>

<form action="/team_name_url/" method="post">
    <label for="team_name">Enter name: </label>
    <input id="team_name" type="text" name="name_field" value="Default name for team.">
    <input type="submit" value="OK">
</form>