<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet" type="text/css">
    <title>User Info Page </title>
</head>

<body>
    <h1>Hello, <%= userName %> !</h1>
    <button><a href="/">Index</a></button>
    <button><a href='/logout'>Logout</a></button>

    <ul>
        <li><label>First Name</label><br>userFirstName</li>
        <li><label>Last Name</label><br>userLastName</li>
        <li><label>Email</label><br>userEmail</li>
    </ul>
</body>

</html>